/packages/next/.next
*.yaml

/packages/ui/dist
/packages/ui/storybook-static
/packages/ui/pnpm-lock.yaml
/packages/ui/CHANGELOG.md
/packages/ui/vite.config.ts.timestamp-*
/packages/cms/generated
/packages/cms/db_data
/packages/cms/src/payload-types.ts
