@import "tailwindcss";

@config "../../../tailwind.config.js";

@utility scroll-shadows {
  background:
    /* Shadow Cover TOP */
    linear-gradient(var(--color-gray-100) 30%, theme("colors.gray.100 / 0%"))
      center top,
    /* Shadow Cover BOTTOM */
      linear-gradient(theme("colors.gray.100 / 0%"), var(--color-gray-100) 70%)
      center bottom,
    /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        theme("colors.gray.900 / 30%"),
        theme("colors.gray.900 / 0%")
      )
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        theme("colors.gray.900 / 30%"),
        theme("colors.gray.900 / 0%")
      )
      center bottom;

  background-repeat: no-repeat;
  background-size:
    100% theme(space.12),
    100% theme(space.12),
    100% theme(space.4),
    100% theme(space.4);
  background-attachment: local, local, scroll, scroll;
}

@utility scroll-shadows-sm {
  background:
    /* Shadow Cover TOP */
    linear-gradient(var(--color-gray-100) 10%, theme("colors.gray.100 / 0%"))
      center top,
    /* Shadow Cover BOTTOM */
      linear-gradient(theme("colors.gray.100 / 0%"), var(--color-gray-100) 90%)
      center bottom,
    /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        theme("colors.gray.900 / 10%"),
        theme("colors.gray.900 / 0%")
      )
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        theme("colors.gray.900 / 10%"),
        theme("colors.gray.900 / 0%")
      )
      center bottom;

  background-repeat: no-repeat;
  background-size:
    100% theme(space.12),
    100% theme(space.12),
    100% theme(space.4),
    100% theme(space.4);
  background-attachment: local, local, scroll, scroll;
}

@layer base {
  :root {
    color-scheme: light;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
    scrollbar-color: var(--color-gray-900) var(--color-gray-100);
  }
}

@layer components {
  ::backdrop {
    @apply backdrop-blur-xs;
  }
}
